button {
  display: block;
  border: none;
  padding: 0.5rem 1rem;
  margin: 0;
  text-decoration: none;
  background: #0069ed;
  color: #ffffff;
  font-family: sans-serif;
  font-size: 1rem;
  cursor: pointer;
  text-align: center;
  transition: background 250ms ease-in-out, transform 150ms ease;
  -webkit-appearance: none;
  -moz-appearance: none;
}

button:hover,
button:focus {
  background: #0053ba;
}

button:focus {
  outline: 1px solid #fff;
  outline-offset: -4px;
}

button:active {
  transform: scale(0.99);
}

.app {
  width: 100%;
  background-color: rgba(24, 24, 24, 0.144);
  height: 100%px;
}

.app-column {
  width: 900px;
  height: 100%;
  background-color: white;
  margin: auto;
}

.header-logo {
  display: block;
  margin: auto;
  height: 100px;
}

.statement-view {
  margin-top: 20px;
  position: relative;
  display: block;
  width: 65%;
  text-align: justify;
  left: 10%;
  font-family: Lato, "Helvetica Neue", Arial, Helvetica, sans-serif;
}

.statement {
  display: block;
  position: relative;
  width: 90%;
  font-size: 1.1em;
  line-height: 1.3em;
}

.statement-header {
  display: block;
  position: relative;
  width: 90%;
  font-size: 1.5em;
  line-height: 1.7em;
  margin-bottom: 0.2em;
}

.statement-rail {
  position: absolute;
  left: 95%;
  top: 0;
}

.anno {
  font-family: Lato, "Helvetica Neue", Arial, Helvetica, sans-serif;
  position: absolute;
  left: 0;
  border-style: solid;
  border-color: rgba(0, 0, 0, 0.26);
  border-width: 1px;
  cursor: default;
  opacity: 1;
  box-shadow: 0 0 0 1px #d4d4d5, 0 1px 3px 0 #d4d4d5;
  padding: 5px;
  border-radius: 5px;
  background-color: white;
}

.anno-label {
  /* position: sticky; */
  z-index: 5;
  width: 275px;
  height: 20px;
  user-select: none;
  line-height: 1em;
}

.anno-label-user {
  float: left;
  font-size: 0.8em;
}

.anno-label-points {
  float: left;
  font-size: 0.8em;
}

.anno-card {
  z-index: 20;
  width: 275px;
  height: 100px;
  user-select: none;
}

.anno-card-user {
  float: left;
}

.anno-card-user-points {
  display: inline-block
}

.anno-card-points {
  float: left;
  max-width: 10px;
}

.anno-expand-button {
  float: right;
  border-style: solid;
  border-width: 1px;
  border-color: black;
}

.anno-card-content {
  display: block;
  font-size: 0.75em;

}

.anno-card-expand-comments-button {
  display: block;
  width: 10px;
  height: 10px;
  border-style: solid;
  border-color: black;
  border-width: 2px;
}

.anno-card-comments-card {
}

.select-popup {
  z-index: 20;
  max-width: 100%;
  max-height: 100%;
  background-color: white;
  user-select: none;
}

.select-header {
  display: block;
  font-weight: 500;
  font-size: 1em;
  padding: 5px 0px 5px 0px;
}

.select-input {
  padding: 5px;
}

.select-popup-submit {
  margin: auto;
  float: right;
  padding: 5px;
}
